<% @page_title = "Category" %>

<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @categories.each do |category|%>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td>
        <%= link_to "show", {action: "show", id: category.id} %> | 
        <%= link_to "edit", {action: "edit", id: category.id} %> | 
        <%= link_to "delete", {action: "delete", id: category.id} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
