<% @page_title = "Sign In" %>

<%= form_for(:user, :url => {:action => "index"}) do |f| %>

  <label for="user_username">Username </label>
  <%= f.text_field(:username) %><br />

  <label for="user_password">Password</label>
  <%= f.text_field(:password, :type => 'password') %><br />
  
  <%= submit_tag("Sign In") %>

<% end %>

<%= link_to("Sign up", {:action => "new"} ) %>
