<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("Sign up", {:action => "new"} ) %>

<table border="1px">
  <tr>
    <th>id</th>
    <th>username</th>
    <th>password</th>
    <th>email</th>
    <th>first name</th>
    <th>last name</th>
    <th>actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
        <td>
          <%= link_to(:action => "show", :id => user.id) do %>
            <%= user.id %>
          <% end %>
        </td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>

          <%= link_to "show", {:action => "show", :id => user.id} %>
          <%= link_to "edit", {:action => "edit", :id => user.id} %>
          <%= link_to "delete", {:action => "destroy", :id => user.id} %>
        </td>
    </tr>
  <% end %>

</table>
