<h1><%= @user.username %></h1>

<strong>email: </strong><%= @user.email %> <br />
<strong>password: </strong><%= @user.password %> <br />
<strong>first name:</strong> <%= @user.firstName %> <br />
<strong>last name:</strong> <%= @user.lastName %> <br />

<%= link_to "Back to Index", {:action => "index"} %>