<h1><%= @user.username %></h1>

<strong>id: </strong><%= @user.id %> <br />
<strong>email: </strong><%= @user.email %> <br />
<strong>password: </strong><%= @user.password %> <br />
<strong>first name:</strong> <%= @user.first_name %> <br />
<strong>last name:</strong> <%= @user.last_name %> <br />

<% @accounts.each do |account| %>
  <%= link_to("Account: #{account.id}", {:controller => :accounts, :action => :show, :id => account.id }) %><br />
<% end %>
<br />
<%= link_to("Add Account", {:controller => "accounts", :action => "new"}) %>
<br />

<%= link_to("Sign out", {:action => "sign_out"}) %>