<article class="sign-in">
<% @page_title = "Sign In" %>

<%= form_for(:user, :url => {:action => "attemptSignin"}, :html => {:class => "sign-in-form"}) do |f| %>

  <%= f.label(:username) %>
  <%= f.text_field(:username) %>

  <%= f.label(:password) %>
  <%= f.password_field(:password) %>
  
  <div class="button-group">
    <div class="sign-in-button">
    <%= submit_tag("Sign In") %>
    </div>
    <div class="sign-up-button">
      <%= link_to("Sign up", {:action => "new"} ) %>
    </div>
  </div>
<% end %>
</article>
