<article class="sign-in">
<% @page_title = "Sign In" %>

<%= form_tag(method: "post", action: "attempt_sign_in", class: "sign-in-form") do %>

  <%= label_tag(:email) %>
  <%= text_field_tag(:email) %>

  <%= label_tag(:password) %>
  <%= password_field_tag(:password) %>
  
  <div class="button-group">
    <div class="sign-in-button">
    <%= submit_tag("Sign In") %>
    </div>
    <div class="sign-up-button">
      <%= link_to("Sign up", {action: "new"} ) %>
    </div>
  </div>
<% end %>
</article>
