<table border="1px">
  <tr>
    <th>id</th>
    <th>account id</th>
    <th>case flow</th>
    <th>note</th>
    <th>date</th>
    <th>actions</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr
      <% if transaction.user_id == session[:current_user_id] %>
        class="current_user_transaction"
      <% end %>
    >
        <td>
          <%= link_to(:action => "show", :id => transaction.id) do %>
            <%= transaction.id %>
          <% end %>
        </td>
        <td><%= transaction.account_id %></td>
        <td><%= number_to_currency(transaction.cash_flow) %></td>
        <td><%= transaction.note %></td>
        <td><%= transaction.receipt_date.blank? ? "" : transaction.receipt_date.to_formatted_s(:transaction) %></td>
        <td>

          <%= link_to "show", {:action => "show", :id => transaction.id} %>
          <%= link_to "edit", {:action => "edit", :id => transaction.id} %>
          <%= link_to "delete", {:action => "destroy", :id => transaction.id} %>
        </td>
    </tr>
  <% end %>

</table>

