<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("Add new transaction", {:action => "new"} ) %>

<table border="1px">
  <tr>
    <th>id</th>
    <th>account id</th>
    <th>caseflow</th>
    <th>note</th>
    <th>actions</th>
    <th>date</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
        <td>
          <%= link_to(:action => "show", :id => transaction.id) do %>
            <%= transaction.id %>
          <% end %>
        </td>
        <td><%= transaction.account_id %></td>
        <td>$<%= transaction.cashFlow %></td>
        <td><%= transaction.note %></td>
        <td><%= transaction.created_at %></td>
        <td>

          <%= link_to "show", {:action => "show", :id => transaction.id} %>
          <%= link_to "edit", {:action => "edit", :id => transaction.id} %>
          <%= link_to "delete", {:action => "destroy", :id => transaction.id} %>
        </td>
    </tr>
  <% end %>

</table>
