<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Transaction #<%= @transaction.id %></h1>

<strong>belongs to: </strong><%= !@transaction.account_id.blank? ? "User ##{@transaction.account_id}" : "not available" %> <br />
<strong>cashflow: </strong>$<%= @transaction.cashFlow %> <br />
<strong>note: </strong><%= @transaction.note %> <br />
<strong>date: </strong><%= @transaction.created_at %> <br />

<%= link_to "Back to Index", {:action => "index"} %>