<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <%= link_to({:controller => "users", :action => "index"}, :class => "mobile-logo") do%>
      <%= @page_title %>
    <% end %>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><%= link_to("Accounts", {:controller => "accounts", :action => "index"})%></li>
      <li class="nav-link logo">
        <%= link_to({:controller => "users", :action => "index"}, :class => "logo", :title => "Home") do%>
          &lt;B&gt;
        <% end %>
      </li>
      <li class="nav-link">
        <% if (session[:current_user_id]) %>
          <%= link_to("Profile", {:controller => "users", :action => "edit"}, :class => "profile" ) %>
        <% else %>
          <%= link_to("Register", {:controller => "users", :action => "new"}, :class => "sign-up" ) %>
        <% end %>
      </li>
    </ul>
  </div>
</header>
