<!DOCTYPE html>
<html>
<head>
  <title>Budgeting Tool - <%= @page_title %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
    <% if !flash[:notice].blank? %>
      <div class="flash-notice">
        <span><%= flash[:notice] %></span>
      </div>
    <% elsif !flash[:success].blank? %>
      <div class="flash-success">
        <span><%= flash[:success] %></span>
      </div>
    <% elsif !flash[:error].blank? %>
      <div class="flash-error">
        <span><%= flash[:error] %></span>
      </div>
    <% end %>
    <%= render(:partial => "refills/navigation") %>
    <span class="badge"></span>
    <!-- Main Body -->
    <div class="main wrapper-for-content-outside-of-footer">
      <%= yield %>
      <div class="push"></div>
    </div>
    <!-- End of Main Body -->
    <%= render(:partial => "refills/footer_2") %>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
