<!DOCTYPE html>
<html>
  <head>
    <title>Budgeting Tool - <%= @page_title %></title>
    <style type="text/css">
    
    </style>
    <%= stylesheet_link_tag 'application', :media => :all  %>
    <%= 
    #javascript_include_tag 'appliaction'  
    %>
  </head>
  <body>
    <% if !flash[:notice].blank? %>
      <div class="has-notice">
        <%= flash[:notice] %>
      </div>
    <% elsif !flash[:success].blank? %>
      <div class="has-success">
        <%= flash[:success] %>
      </div>
    <% elsif !flash[:error].blank? %>
      <div class="has-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="main-header">
      <h3>Budgeting Tool - <%= @page_title %></h3>
    </div>
    <nav class="navigation">
      <ul>
        <li><%= link_to("accounts", {:controller => :accounts, :action => :index})%></li>
        <li><%= link_to("transactions", {:controller => :transactions, :action => :index})%></li>
        <li><%= link_to("add account", {:controller => :accounts, :action => :new})%></li>
      </ul>
    </nav>
    <!-- Main Body -->
    <div class="main">
      <%= yield %>
    </div>
    <!-- End of Main Body -->
    <div class="footer">
      <p class="copyright">&copy; Budgeting Tool / Tony Tang</p>
    </div>
  </body>
</html>
