<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<%= link_to("Add new account", {:action => "new"} ) %>

<table border="1px">
  <tr>
    <th>id</th>
    <th>user_id</th>
    <th>name</th>
    <th>balance</th>
    <th>account_number</th>
    <th>description</th>
    <th>actions</th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
        <td>
          <%= link_to(:action => "show", :id => account.id) do %>
            <%= account.id %>
          <% end %>
        </td>
        <td><%= account.user_id %></td>
        <td><%= account.name %></td>
        <td>$<%= account.balance %></td>
        <td><%= account.account_number %></td>
        <td><%= account.description %></td>
        <td>

          <%= link_to "show", {:action => "show", :id => account.id} %>
          <%= link_to "edit", {:action => "edit", :id => account.id} %>
          <%= link_to "delete", {:action => "destroy", :id => account.id} %>
        </td>
    </tr>
  <% end %>

</table>
