<h1><%= @account.name %></h1>

<strong>id: </strong><%= @account.id %> <br />
<strong>belongs to: </strong> <%= !@account.user_id.blank? ? "User ##{@account.user_id}" : "not available" %> <br />
<strong>balance: </strong><%= @account.balance %> <br />
<strong>account number:</strong> <%= @account.accountNumber %> <br />
<strong>description:</strong> <%= @account.description %> <br />

<% @transactions.each do |transaction| %>
  <%= link_to("Transaction: #{transaction.id}", {:controller => "transactions", :action => "show", :id => transaction.id}) %><br />
<% end %>
<br />
<%= link_to("Add Transaction", {:controller => "transactions", :action => "new", :account_id => @account.id }) %>
<br />

<%= link_to "Back to Index", {:action => "index"} %>